@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter';
}

a{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    background: #81c784;
    color: #fff;
}
header nav.nav.active{
    position: fixed;
    top: 100px;right:0;left:0;
}
header.sticky{
    position: fixed;
    top: 0;right: 0;left: 0;
    box-shadow: .0.5rem 1rem rgba(0,0,0,.1);
    background: #81c784;
    z-index: 3;
}
header nav.nav.active{
    position: fixed;
    top: 80px;right:0;left:0;
}
nav.nav.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    left: 0;top: 120px;
    width: 100%;
    height: 50%;
    box-shadow: .0.5rem 1rem rgba(0,0,0,.1);
    background: #fff;
}
nav.nav.active a {
    padding: 10px;
    color: #000;
    line-height: 20px;
    font-size: 18px;
    text-decoration: wavy;
}
#menu-bar {
    font-size: 2rem;
    margin-right: 30px;
    display: none;
}
nav a {
    margin: 20px;
    line-height: 40px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.logo h2 {
    margin: 10px;
}
.hero {
    min-height: 100dvh;
    background: url(../img/Gemini_Generated_Image_5xxhju5xxhju5xxh.png) no-repeat;
    background-size: cover;
}
.row{
    display: flex;
    justify-content: center;
    text-align: center;
}
.row-1 {
    margin-top: 30dvh;
    margin-left: 30px;
}
.row-1 h1 {
    font-size: 50px;
    color: #81c784;
}
small {
    font-size: 20px;
    color: #81c784;
    font-weight: 600;
}
.btn{
    display: inline-block;
    padding: 10px 24px;
    margin-top: 20px;
    background: #81c784;
    box-shadow: 4px 4px 10px #81c784;
    color: #fff;
}
.about{
    margin-top: 50px;
}
.heading {
    text-align: center;
    font-size: 50px;
    color:#81c784;
}
.abt-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.txt-bx {
    width: 500px;
    height: 300px;
    flex-wrap: wrap;
    background: #81c784;
    color: #fff;
    box-shadow: 4px 4px 10px #81c784;
    margin: 10px;
    padding: 50px;
}
.txt-bx h1 {
    font-size: 25px;
}
.txt-bx img {
    width: 100px;
}
.emp-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.empower {
    margin-top: 50px;
}
.emp-bx {
    width: 250px;
    color: #fff;
    padding: 30px;
    background: #81c784;
    margin: 10px;
    box-shadow: 4px 4px 10px #81c784;
}
.emp-bx img {
    width: 70px;
}

.c-flex{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
.contact-bx h1 {
    font-size: 30px;
    color: #81c784;
}
.contact-bx p {
    text-align: center;
    color: #81c784;
}
.link-div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.link-div a {
    font-size: 20px;
    color: #81c784;
}
.founder-bx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.founder-bx .img {
    width: 300px;
    margin: 20px;
}
.img img {
    width: 100%;
    border-radius: 18px;
    border: 5px solid #81c784;
}
.img-txt {
    width: 350px;
    color: #81c784;
    margin-left: 50px;
}
footer{
    background: #81c784;
    text-align: center;
    margin-top: 30px;
    color:#fff;
    padding: 20px;
}

@media only screen and (max-width: 600px){
    #menu-bar{
        margin-top: 10px;
        display: initial;
    }
    nav {
        display: none;
       }
    .txt-bx {
        width: 300px;
        height: 350px;
    }
    .logo h2 {
       font-size: 20px;
       line-height: 30px;
    }
    .row-1 {
        margin-left:0px ;
    }
    .row-1 h1 {
        font-size: 25px;
    }
    .row-1 small {
        font-size: 15px;
        width: 250px;
    }
    .img-txt {
        text-align: justify;
        color: #81c784;
        margin-left: 0px;
    }
    .founder-bx .img {
        width: 300px;
        margin: 20px;
    }
    .contact-bx h1 {
        font-size: 17px;
        text-align: center;
    }
    footer h2 {
        font-size: 15px;
    }
    .hero {
        min-height: 100dvh;
    }
}